/* Selective reset that doesn't conflict with Chakra UI */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove default margins from common elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
dl,
dd {
  margin: 0;
}

/* List reset */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Link reset */
a {
  color: inherit;
  text-decoration: none;
}

/* Button reset */
button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

/* Input reset */
input,
textarea,
select {
  font-family: inherit;
}

/* Image responsive */
img {
  max-width: 100%;
  height: auto;
  display: block;
}
